<html>
<head>
	<title>Star Wars Armada Help</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.10.0/css/tachyons.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/ramda@0.25.0/dist/ramda.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.1/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.1/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.2/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="../../dist/star-wars-armada-artifact.js"></script>
	<script src="Help.js" type="module">></script>
</head>
<body>
	<h1>Reference Links</h1>
	<ul>
		<li><a href="https://www.fantasyflightgames.com/en/products/star-wars-armada/" target="_blank">Fantasy Flight Games: Star Wars Armada</a></li>
		<li><a href="https://images-cdn.fantasyflightgames.com/filer_public/fe/95/fe95988e-2cfb-42b6-8546-2470ff86da58/swm01_learn_to_play_web_ready_engcompressed.pdf" target="_blank">Fantasy Flight Games: Learn To Play (2018.06.14)</a></li>
		<li><a href="https://images-cdn.fantasyflightgames.com/filer_public/25/29/252933c1-4f13-4bfd-858f-b0a3ff3a6754/swm01_rules_reference_guide_web_ready_eng.pdf" target="_blank">Fantasy Flight Games: Rules Reference (2018.06.14)</a></li>
		<li><a href="https://images-cdn.fantasyflightgames.com/filer_public/68/e1/68e127a4-62df-4fe8-beca-f812ed6540f2/armada_faq_v412compressed.pdf" target="_blank">Fantasy Flight Games: FAQ (2018.06.14)</a></li>
		<li><a href="https://starwars-armada.wikia.com/wiki/Star_Wars:_Armada_Wiki" target="_blank">Star Wars Armada Wiki</a></li>
	</ul>
	<h1>Reference Cards</h1>
	<div id="panel"></div>
</body>

</html>