<!DOCTYPE html>
<html>
<head>
	<title>ShipImage</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.10.0/css/tachyons.min.css">
	<link rel="stylesheet" href="../style.css">
	<script src="https://cdn.jsdelivr.net/npm/ramda@0.25.0/dist/ramda.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.1/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.1/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.2/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="../../../dist/star-wars-armada-artifact.js"></script>
	<script src="ShipImage.viewtest.js" type="module">></script>
</head>
<body>
	<table style="background-color: Black;">
		<tr>
			<td>
				<canvas id="panel0" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel1" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel2" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel3" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel4" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel5" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel6" width="150" height="150"></canvas>
			</td>
			<td>
				<canvas id="panel7" width="150" height="150"></canvas>
			</td>
		</tr>
	</table>
</body>

</html>